.first-container {
    background-color: white;
    height: 750px;
    position: relative;
    
}
.ewa-phones{
    position: absolute;
    height: 750px;
    top: 0;
    right: 100px;  
}
.plane {
    position: absolute;
    width: 100px;
    top: 100px;
    right: 870px;
}
.start-learning-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 500px;
    height: 400px;
    top: 140px;
    left: 400px;
}
.start-learning-info {
    font-size: 40px;
    font-weight: 700;
    font-family: sans-serif;
}
.start-learning-info1 {
    font-size: 20px;
    font-family: sans-serif;
    color: gray;
    line-height: 28px;
}
.green-button {
    margin-top: 10px;
    color: white;
    background-color: #40da19;
    font-size: 20px;
    border-radius: 100px;
    width: 200px;
    text-align: center;
    padding: 15px 9px;
    box-shadow: 0px 20px 20px #0000001a;
    cursor: pointer;
    transition: box-shadow 0.3s;
}
.green-button:hover {
    box-shadow: none;
}
.second-container {
    background-color: beige;
    position: relative;
    height: 850px;
}
.books-phone {
    width: 18%;
    position: absolute;
    right: 350px;
    top: 250px;
    z-index: 0;
    
}
.hand {
    position: absolute;
    right: 390px ;
    top: 590px;
}
.ewa-headphones {
    width: 18%;
    position: absolute;
    right: 580px;
    top: 240px;
}
.vector-book{
    width: 75%;
    position: absolute;
    top: 545px;
    left: 290px;
}
.start-learning-container-second {
    background-color: beige;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 500px;
    height: 400px;
    top: 140px;
    left: 400px;
}
.book-divider {
    position: absolute;
    top: 640px;
    right: 340px;
    width: 550px;
    height: 10px;
    background: #c4c4c4;
    border-radius: 10px;
}

.book-cover {
    display: flex;
    position: relative;
    background-color: beige;
}

.book-cover-container {
    background-color: beige;
    display: grid;
    margin-bottom: 1.18vw;
    justify-content: start;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    grid-column-gap: 1.18vw;
    grid-row-gap: 1.18vw;
    grid-template-columns: auto;
    grid-template-rows: auto;
}
.book-cover-items {
    display: flex;
    
}
.book-cover-items img {
    width: 250px;
}